#root {
    height: 100vh;
}

div, #login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    background-color: transparent;
    width: 450px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    text-align: center;
    padding-bottom: 5px;
    caret-color: white;
    font-size: x-large;
}

span { margin: 10px 0;
    font-size: large;
font-weight: 600;}

button {
    font-size: large;
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
}

.whiteText {
    color: white; 
}

#clock { font-size: 80px;}

#bg {
    z-index: -1;
    position: absolute;
}